*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

:root{

    /* Color Palette */

    --color1: #aee2f6;
    --color2: #009ccf;
    --color3: #002f49;
    --color4: #c18f6e;
    --color5: #601F2D;

    /* Font Size */
    
    --title1: 7rem;
    --title2: 3rem;
    --text1: 2rem;
    --text2: 1.6rem;

}