.five{
    margin-top: 12rem;
}

.cont_blue{
    margin: auto;
    width: 90%;
    height: 76.6rem;

    background-color: var(--color6);
    border-radius: 15rem;
}

.container h1{
    padding-top: 6rem;
    font-size: var(--title2);
    font-weight: 700;

    text-align: center;
}

.cont_blue ul{
    margin: auto;
    font-size: var(--text0);
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont_blue li{
    padding: 4rem;
}

.row{
    width: 90%;
    margin-left: 7rem;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 30rem;
    height: 40rem;
    padding: 1rem;

    background-color: #fff;
    border-radius: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 25rem;
}

.col-12.mb-2.col-md-4{
    width: 30rem;
    height: 40rem;
}

.card-body p,h5{
    font-size: var(--text2);
}

.card-body h5{
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.btn{
    width: 17rem;
    height: 3.5rem;
    margin: auto;
    font-family: 'Poppins', sans-serif;

    font-size: var(--text3);
    border-radius: 3rem;
    border: none;
    background-color: var(--color1);
    cursor: pointer;
}

.all_product{
    margin-top: 4rem;

    font-size: var(--text1);
    font-weight: 600;

    display: flex;
    justify-content: center;
}
