@media screen and (max-width: 1400px) {

    .sect_one{
        margin-left: 8rem;
    }

    .presentacion{
        height: 40rem;
    }

    .slogan{
        font-size: var(--title4);
    }

    .contacto{
        
        font-size: var(--text3);
    }

    .imagens{
        height: auto;
    }

    .item1{
        width: 34rem;
        height: 48rem;
    }
    
    .item2{ 
        width: 28rem;
        height: 37rem;
    }

    .sect_two{
        margin-left: 8rem;
    }

    div .frase_banner{
        width: 80rem;
    }

    div .img3{
        right: 7rem;
    }

    .sabias{
        width: 100rem;
        margin: auto;
    }

    .dato{
        width: 50rem;
    }

    .contenido-principal__imagen {
        width: 50rem;
    }

    .contenido-principal__resumen {
        font-size: var(--text1);
    }
    }