.item2{
    background-image: url(https://biocenter.com.sa/image/cache/catalog/images/1646333492Monello_Gatos_Adultos_Salm%C3%A3o_Frango_esquerdo-550x550.png);
    background-size: contain;
    width: 60rem;
    height: 60rem;
    margin-top: 10rem;
    border-radius: 30rem 30rem;
}