.item4{
    background-image: url(https://puntomascotas.cl/11828/credelio-perro-de-55-a-11-kg-de-3-comprimidos.jpg);
    background-size: contain;
    width: 60rem;
    height: 60rem;
    margin-top: 10rem;
    border-radius: 30rem 30rem;
}