.contenedor {
	width: 90%;
    height: auto;
	margin: auto;
    margin-top: 13rem;
    background-color: var(--color6);
    border-radius:12rem 12rem ;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	display: flex;
	align-items: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 8rem;
    padding-top: 8rem;
}

.contenido-principal__imagen {
    width: 60rem;
    border-radius: 10rem;
}

.contenido-principal__contenedor {
	width: 50%;
    padding-left: 4rem;
}

.contenido-principal__titulo {
    font-size: var(--title2);
    font-weight: 700;
}

.contenido-principal__resumen {
    font-size: var(--text0);
    text-align: justify;
}


/* --- --- CAROUSEL --- --- */
.carousel{
    width: 93%;
    margin: auto;
    padding-bottom: 5.5rem;
}

.img_carrusel{
    border-radius: 3rem;
}

.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
    font-size: var(--text1);
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
