footer{
    width: auto;
    height: 32rem;
    margin-top: 12rem;
    padding-left: 8rem;
    padding-right: 8rem ;
    padding-top: 7rem;

    border-radius: 5rem 5rem 0rem 0rem;
    background-color: var(--color6);

    display: flex;
    justify-content: space-between
}

.logo_footer{
    width: 90rem;
    display: flex;
}

.logo_footer img{
    height: 6rem;
    margin-right: 1.5rem;
    padding-right: 3rem;
}

.slogan_footer{
    width: 40rem;
    font-size: var(--text1);
}

div a{
    padding: 0.5rem;

    text-decoration: none;
    font-size: var(--text1);
}

.enlaces_foot{
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barr_navegacion{
    display: flex;
    flex-direction: column;
}

.barr_redes{
    display: flex;
    flex-direction: column;
}
 