section{
    border-bottom: 0.1rem solid var(--color4);
}

.sect_one{
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.presentacion{
    width: 68rem;
    margin-top: 15rem;
    color: var(--color3);
}

.slogan{
    font-size: var(--title1);
    font-weight: 600;
}

.frase{
    margin-top: 2rem;
    font-size: var(--text1);
}

.enlaces{
    display: flex;
    flex-direction: row;
}

.contacto{
    background-color: var(--color1);
    width: 27rem;
    height: 6rem;
    margin: 2rem;
    border-radius: 50rem 50rem;

    font-size: var(--text1);
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto a{
    text-decoration: none;
    color: var(--color3);
}

.contacto i{
    padding-left: 1rem;
}

.redes{
    width: 20rem;
    height: 6rem;
    margin: 2rem 1rem;

    font-size: var(--text1);
    font-weight: 600;

    display: flex;
    align-items: center;   
}

.redes a{
    text-decoration: none;
}

.redes i{
    color: var(--color1);
    padding-left: 1.5rem;
}

.imagens{
    width: 69rem;
    height: 68.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item1{
    background-image: url(https://images.unsplash.com/photo-1606214174585-fe31582dc6ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    width: 36rem;
    height: 53rem;
    margin-top: 10rem;
    border-radius: 30rem 30rem;
}

.item2{ 
    background-image: url(https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);   
    background-size: cover;
    width: 28rem;
    height: 40rem;
    margin-top: 6rem;
    border-radius: 30rem 30rem;
}

.sect_two{
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 12rem;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div .img1{
    width: 29rem;
    height: 17rem;
    margin-top: 12rem;

    border-radius: 15rem 15rem;

    background-image: url(https://s1.best-wallpaper.net/wallpaper/m/1705/Husky-dog-blue-background_m.webp);
    background-size:cover ;
}

div .frase_banner{
    margin-top: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.company_nombre{
    font-size: var(--text0);
}

.phrase{
    font-size: var(--title2);
    font-weight: 700;
}

div .imagens2{
    width: 32rem;
    margin-top: 12rem;

    display: flex;
    flex-direction: row;
}

div .img2{
    width: 17rem;
    height: 17rem;

    border-radius: 50%;

    background-image: url(https://img.freepik.com/free-photo/funny-gray-kitten-smiling-dog-with-beautiful-big-eyes-trendy-blue-paper_253512-60.jpg?w=1380);
    background-position: 10% 90%;
    background-size:cover ;
}

div .img3{
    width: 17rem;
    height: 17rem;

    position: absolute;
    right: 11.5rem;

    border-radius: 50%;

    background-image: url(https://img.freepik.com/free-photo/funny-gray-kitten-smiling-dog-with-beautiful-big-eyes-trendy-blue-paper_253512-60.jpg?w=1380);
    background-position: 95% 5%;
    background-size:cover ;
}

.fact{
    width: 100%;
    height: auto;
    margin-top: 12rem;

    border-radius: 12rem 12rem;
    background-color: var(--color6);
}

.sabias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title_sabias{
    width: auto;
    height: auto;
    padding-top: 4rem;
    padding-left: 12rem;

    font-size: var(--title2);
    font-weight: 700;
}

.img4{
    width: 25rem;
    height: 27rem;

    border-radius: 9rem;
    background-image: url(https://gatosygatitos.net/wp-content/uploads/2019/10/gatitos-bebe.jpg);
    background-position: center;
    background-size:cover ;
}

.dato{
    width: 70rem;
    font-size: var(--text0);
    text-align: justify;
}

.sect_three{
    width: 90%;
    height: auto;
    margin: auto;
}

.marcas_title{
    margin-top: 12rem ;

    font-size: var(--title2);
    font-weight: 700;
    text-align: center;
}

.marcas{
    padding: 10rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.marca0{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://www.monellocolombia.com/wp-content/uploads/2018/07/select.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca1{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://i0.wp.com/www.russellfeedandsupply.com/wp-content/uploads/2017/08/purina.png?resize=300%2C300&ssl=1);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca2{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://agenciakiwee.com.br/wp-content/uploads/2019/01/logo_pedigree_brilho.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca3{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://pnptc-media.s3.amazonaws.com/images/hills.max-500x500.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca4{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://assets.nationbuilder.com/backcountryhunters/pages/9092/meta_images/original/1694877.png?1608138864);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca5{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://nutrisourcepetfoods.com/wp-content/uploads/2019/07/NS_Logo2019.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca6{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://images-americanas.b2w.io/produtos/11692470/imagens/whiskas-sache-para-gatos/11692463_1_large.jpg);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca7{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://www.advantagepetcare.com.au/sites/g/files/adhwdz311/files/2019-09/seresto_logo.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca8{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://allaboutcats.com/wp-content/uploads/2021/07/Frontline-Plus.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca9{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://seekvectorlogo.net/wp-content/uploads/2018/11/simparica-sarolaner-chewables-vector-logo.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca10{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://iconape.com/wp-content/files/rx/182201/svg/182201.svg);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

.marca11{
    width: 25rem;
    height: 25rem;

    margin-bottom: 3.5rem;

    background-image: url(https://www.invetsa.com/bolivia/wp-content/uploads/2020/09/Credelio.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}
